/* general */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* header */

.header {
  position: relative;
  background: #181818;
  height: 71px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.header__logo {
  font-family: SFProDisplay-Medium;
  font-size: 18px;
  color: #FFFFFF;
  height: 100%;
  line-height: 71px;
  margin-left: 120px;
}
.header__nav {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header__nav__item {
  font-family: SFProDisplay-Medium;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 90px;
  text-decoration: none;
}

/* Intro */

.intro {
  text-align: center;
  background-color: #000000;
  padding-top: 225px;
  padding-bottom: 225px;
  width: 100%;
  position: relative;
}

.intro__title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: SFProDisplay-Semibold;
  font-size: 80px;
  color: #FFFFFF;
  letter-spacing: -1px;
  text-align: center;
  line-height: 84px;
}

.intro__image {
  margin-top: 145px;
  max-width: 1137px;
}

.intro__content {
  margin-top: 200px;
  font-family: SFProDisplay-Semibold;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: -0.4px;
  text-align: center;
  line-height: 1.5;
}

/* generate */

.generate {
  width: 100%;
  background-color: #000000;
  position: relative;
}

.generate__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.generate__form {
  display: block;
}

.input__groupe {
  display: flex;
  margin-bottom: 65px;
}

.generate__form__input {
  font-family: SFProDisplay-Semibold;
  font-size: 19px;
  color: #fff;
  letter-spacing: -0.22px;
  border: 1px solid #DADADA;
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-right: 15px;
  background-color: transparent;
  outline: none;
}

.generate_download,
.generate__form__button {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #DADADA;
  border-radius: 5px;
  font-family: SFProDisplay-Light;
  font-size: 19px;
  color: #FFFFFF;
  letter-spacing: -0.22px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  outline: none;
  transition: .3s ease-in-out all;
}

::placeholder {
  font-family: SFProDisplay-Semibold;
  font-size: 19px;
  color: #686868;
  letter-spacing: -0.22px;
}

.generate_download:hover,
.generate__form__button:hover {
  background-color: #fff;
  color: #000;
}

.generate__form__label {
  font-family: SFProDisplay-Semibold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.23px;
  display: block;
  margin-bottom: 45px;
}


.generate__render {
  width: 400px;
  position: relative;
}

.finalRender__container {

}

.finalRender {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  width: calc(100% - 40px);
  border-radius: 20px;
}

.finalRender__mockup {
  width: 100%;
  position: relative;
  z-index: 2;
}



/* showcase */

.showcase {
  padding-top: 215px;
  padding-bottom: 235px;
  background-color: #000000;
  text-align: center;
  width: 100%;
  position: relative;
}

.showcase__image1 {
}

.showcase__image2 {
  margin-top: 252px;
}

/* footer */

.footer {
  background: #181818;
  height: 101px;
  width: 100%;
}

.footer__copyright {
  opacity: 0.56;
  font-family: SFProDisplay-Semibold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.22px;
  line-height: 101px;
  float: left;
}

.footer__contact {
  opacity: 0.56;
  font-family: SFProDisplay-Semibold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.22px;
  line-height: 101px;
  float: right;
  text-decoration: none;
}
