/* general */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 1300px) {
  .container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

body {
  background-color: #000;
  position: relative;
  overflow-x: hidden;
}

/* header */

.header {
  position: relative;
  background: #181818;
  height: 71px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header__logo {
  font-family: "roboto";
  font-size: 18px;
  color: #FFFFFF;
  height: 100%;
  line-height: 71px;
}
.header__nav {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header__nav__item {
  font-family: "roboto";
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 90px;
  text-decoration: none;
}

/* Intro */

.intro {
  text-align: center;
  background-color: #000000;
  padding-top: 225px;
  padding-bottom: 225px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 750px) {
  .intro {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}

.intro__title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: "roboto";
  font-size: 80px;
  color: #FFFFFF;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.3;
  transform: translateY(40px);
  opacity: 0;
  transition: transform ease 1.2s, opacity ease 1.3s;
  will-change: transform, opacity;
}

@media screen and (max-width: 750px) {
  .intro__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 550px) {
  .intro__title {
    font-size: 35px;
  }
}

.intro__image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 145px;
  max-width: 1137px;
  transform: translateY(40px);
  opacity: 0;
  transition: transform ease 1.2s, opacity ease 1.3s;
  will-change: transform, opacity;
  transition-delay: 0.2s;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .intro__image {
    margin-top: 100px;
  }
}

.intro__content {
  margin-top: 200px;
  font-family: SFProDisplay-Semibold;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: -0.4px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (max-width: 750px) {
  .intro__content {
    font-size: 20px;
    margin-top: 100px;
  }
}

/* generate */

.generate {
  width: 100%;
  background-color: #000000;
  position: relative;
}

.generate__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .generate__container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.generate__form {
  display: block;
}

@media screen and (max-width: 900px) {
  .generate__form {
    margin-bottom: 50px;
  }
}

.input__groupe {
  display: flex;
  margin-bottom: 65px;
}

@media screen and (max-width: 900px) {
  .input__groupe {
    flex-direction: column;
  }
}

.generate__form__input {
  font-family: SFProDisplay-Semibold;
  font-size: 19px;
  color: #fff;
  letter-spacing: -0.22px;
  border: 1px solid #DADADA;
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-right: 15px;
  background-color: transparent;
  outline: none;
}

@media screen and (max-width: 900px) {
  .generate__form__input {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.generate_download,
.generate__form__button {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #DADADA;
  border-radius: 5px;
  font-family: SFProDisplay-Light;
  font-size: 19px;
  color: #FFFFFF;
  letter-spacing: -0.22px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  outline: none;
  transition: .3s ease-in-out all;
}

@media screen and (max-width: 900px) {
  .generate_download {
    margin-top: 20px;
  }
}

::placeholder {
  font-family: SFProDisplay-Semibold;
  font-size: 19px;
  color: #686868;
  letter-spacing: -0.22px;
}

.generate_download:hover,
.generate__form__button:hover {
  background-color: #fff;
  color: #000;
}

.generate__form__label {
  font-family: SFProDisplay-Semibold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.23px;
  display: block;
  margin-bottom: 45px;
}


.generate__render {
  width: 400px;
  position: relative;
}

.finalRender__container {
  position: relative;
}

@media screen and (max-width: 900px) {
  .finalRender__container {
    width: 80%;
    margin-left: 10%;
  }
}

.finalRender {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  width: calc(100% - 40px);
  border-radius: 20px;
}

.finalRender__mockup {
  width: 100%;
  position: relative;
  z-index: 2;
}




/* showcase */

.showcase {
  padding-top: 215px;
  padding-bottom: 235px;
  background-color: #000000;
  text-align: center;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 750px) {
  .showcase {
    padding-top: 165px;
    padding-bottom: 135px;
  }
}

.showcase__image1 {
  width: 100%;
  max-width: 900px;;
}

.showcase__image2 {
  width: 100%;
  max-width: 900px;;
  margin-top: 252px;
}

@media screen and (max-width: 750px) {
  .showcase__image2 {
    margin-top: 100px;
  }
}

/* footer */

.footer {
  background: #181818;
  height: 101px;
  width: 100%;
}

.footer__copyright {
  opacity: 0.56;
  font-family: SFProDisplay-Semibold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.22px;
  line-height: 101px;
  float: left;
}

.footer__contact {
  opacity: 0.56;
  font-family: SFProDisplay-Semibold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: -0.22px;
  line-height: 101px;
  float: right;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .footer__contact {
    display: none;
  }
}

#sketch-holder {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  width: calc(100% - 40px);
  overflow: hidden;
  height: calc(100% - 35px);
  border-radius: 67px;
}

@media screen and (max-width: 900px) {
  #sketch-holder {
    border-radius: 30px;
  }
}


.hide {
  opacity: 0;
  transition: all ease 0.4s;
}

body.active .intro__title {
  transform: translateY(0px);
  opacity: 1;
  transition: transform ease 1.2s, opacity ease 1.3s;
  will-change: transform, opacity;
}

body.active .intro__image {
  transform: translateY(0px);
  opacity: 1;
  transition: transform ease 1.2s, opacity ease 1.3s;
  will-change: transform, opacity;
  transition-delay: 0.2s;
}

.to-animate {
  transform: translateY(40px);
  opacity: 0;
  transition: transform ease 1.2s, opacity ease 1.3s;
  will-change: transform, opacity;
  transition-delay: 0.2s;
}

.to-animate.active {
  transform: translateY(0px);
  opacity: 1;
  transition: transform ease 1.2s, opacity ease 1.3s;
  will-change: transform, opacity;
  transition-delay: 0.2s;
}